body {
    font-family: Arial, sans-serif;
    margin: 0;
    padding: 0;
    background-color: #db0a0a;
}

header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 15px 20px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: line-through;
}

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 20px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard {
    text-align: center;
    margin-bottom: 20px;
}

.tasks ul {
    list-style: none;
    padding: 0;
}

.tasks ul li {
    background: #ddd;
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-members {
    display: flex;
    gap: 20px;
    padding:2px;

}

.member {
    text-align: center;
    background: #ebe4e4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.member img {
    border-radius: 50%;
}
background{
    color: blueviolet;
}

#container {
    display: grid;
    border-radius: 10px;
    justify-content: center;
    align-items: center;
    
}

#form {
    border: 5px solid black;
    border-radius: 20px;
    height: 50vh;
    margin-bottom: 10%;
    background-color: beige;
    padding: 5%;
    
}