body {
    margin: 0;
    padding: 0;
    background-color: #0a80db;
}
.nav-link:hover{
    border: 2px solid blueviolet !important;
}



/* header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background: #333;
    color: white;
    padding: 15px 20px;
}

.logo {
    font-size: 1.5em;
    font-weight: bold;
}

nav ul {
    list-style: none;
    display: flex;
    gap: 20px;
}

nav ul li {
    display: inline;
}

nav ul li a {
    color: white;
    text-decoration: line-through;
} */

main {
    max-width: 900px;
    margin: 20px auto;
    padding: 10px;
    background: white;
    border-radius: 10px;
    box-shadow: 0 0 10px rgba(0, 0, 0, 0.1);
}

.dashboard {
    background-color: rgb(100, 112, 202);
    padding: 10px;
    text-align: center;
    margin-bottom: 20px;
    color: rgb(167, 34, 102);
}
.dashboard h1 {
    margin: 0;
    font-size: 2em;
    font-family: Arial, Helvetica, sans-serif;
}

.tasks ul {

    background-color: rgb(34, 38, 70);
    list-style: none;
    padding: 0;
}

.tasks ul li {
    background: rgb(64, 79, 92);
    margin: 5px 0;
    padding: 10px;
    border-radius: 5px;
    display: flex;
    align-items: center;
    gap: 10px;
}

.team-members {
    display: flex;
    gap: 20px;
    padding:2px;

}

.member {
    text-align: center;
    background: #ebe4e4;
    padding: 15px;
    border-radius: 10px;
    box-shadow: 0 0 5px rgba(0, 0, 0, 0.1);
}

.member img {
    border-radius: 50%;
}


